In [1]:
import os, json
import pandas as pd
import numpy as np

In [2]:
games = pd.read_csv('data/game_results.csv',index_col=0)
odds = pd.read_csv('data/odds_final.csv',index_col=0)
salaries = pd.read_csv('data/dfs_salaries.csv',index_col=0)

In [3]:
games_odds = pd.merge(games, odds, how = 'left', left_on=['Date','home_abbr','away_abbr'],right_on=['date_match','home_abbr','away_abbr'])

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
games_odds

,season,Week,home_team_x,away_team_x,home_pts,away_pts,total_pts,home_win,Day,Date_x,Time,home_abbr,away_abbr,Date_y,Favorite,UnderDog,PointSpread,OverUnder,AwayTeamMoneyLine,HomeTeamMoneyLine,Season,home_team_y,away_team_y,home_fav,date_match
0,2016,1,Denver Broncos,Carolina Panthers,21,20,41,1,Thu,2016-09-08,8:40PM,DEN,CAR,"September 8, 2016 8:30 PM",Panthers,at Broncos,-3.0,41.0,-165,145,2016,Broncos,Panthers,False,2016-09-08
1,2016,1,Baltimore Ravens,Buffalo Bills,13,7,20,1,Sun,2016-09-11,1:04PM,BAL,BUF,"September 11, 2016 1:00 PM",at Ravens,Bills,-3.0,45.0,130,-150,2016,Ravens,Bills,True,2016-09-11
2,2016,1,Jacksonville Jaguars,Green Bay Packers,23,27,50,0,Sun,2016-09-11,1:04PM,JAX,GB,"September 11, 2016 1:00 PM",Packers,at Jaguars,-6.0,48.0,-210,175,2016,Jaguars,Packers,False,2016-09-11
3,2016,1,Atlanta Falcons,Tampa Bay Buccaneers,24,31,55,0,Sun,2016-09-11,1:05PM,ATL,TB,"September 11, 2016 1:00 PM",at Falcons,Buccaneers,-3.0,47.0,115,-135,2016,Falcons,Buccaneers,True,2016-09-11
4,2016,1,Houston Texans,Chicago Bears,23,14,37,1,Sun,2016-09-11,1:05PM,HOU,CHI,"September 11, 2016 1:00 PM",at Texans,Bears,-6.0,42.5,220,-260,2016,Texans,Bears,True,2016-09-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1727,2022,12,Arizona Cardinals,Los Angeles Chargers,24,25,49,0,Sun,2022-11-27,4:05PM,ARI,LAC,"November 27, 2022 4:05 PM",Chargers,at Cardinals,-2.5,48.5,-146,123,2022,Cardinals,Chargers,False,2022-11-27
1728,2022,12,Kansas City Chiefs,Los Angeles Rams,26,10,36,1,Sun,2022-11-27,4:25PM,KC,LAR,"November 27, 2022 4:25 PM",at Chiefs,Rams,-16.5,41.5,785,-1299,2022,Chiefs,Rams,True,2022-11-27
1729,2022,12,San Francisco 49ers,New Orleans Saints,13,0,13,1,Sun,2022-11-27,4:25PM,SF,NO,"November 27, 2022 4:25 PM",at 49ers,Saints,-8.5,43.5,320,-409,2022,49ers,Saints,True,2022-11-27
1730,2022,12,Philadelphia Eagles,Green Bay Packers,40,33,73,1,Sun,2022-11-27,8:20PM,PHI,GB,"November 27, 2022 8:20 PM",at Eagles,Packers,-6.5,46.0,233,-288,2022,Eagles,Packers,True,2022-11-27
1731,2022,12,Indianapolis Colts,Pittsburgh Steelers,17,24,41,0,Mon,2022-11-28,8:15PM,IND,PIT,"November 28, 2022 8:15 PM",at Colts,Steelers,-2.5,39.5,117,-139,2022,Colts,Steelers,True,2022-11-28

In [6]:
games_odds.groupby(['season'])['season'].count()

season
2016    256
2017    256
2018    256
2019    256
2020    256
2021    272
2022    180
Name: season, dtype: int64

In [7]:
salary_home = pd.merge(salaries, games[['home_abbr','season','Week']], how = 'left', left_on=['Team','Season','Week'],right_on=['home_abbr','season','Week'])

In [8]:
salary_home['home_team'] = salary_home['home_abbr'].notna()

In [9]:
salary_home['homeaway'] = np.where(salary_home['home_team'], "home", "away")

In [10]:
salary_home['key'] = np.where(salary_home['home_team'], salary_home['Season'].astype(str) + salary_home['Week'].astype(str) +salary_home['Team'],salary_home['Season'].astype(str) + salary_home['Week'].astype(str) +salary_home['Opponent'])

In [11]:
salary_home

,Team,Season,Week,Opponent,DST1,QB1,RB1,RB2,WR1,WR2,WR3,WR4,TE1,TE2,home_abbr,season,home_team,homeaway,key
0,ARI,2016,1,NE,3500.0,7100.0,7500.0,4100.0,6300.0,5900.0,5200.0,3400.0,2700.0,2500.0,ARI,2016.0,True,home,20161ARI
1,ARI,2016,2,TB,3500.0,6900.0,7600.0,3900.0,6400.0,5900.0,5300.0,3300.0,2600.0,2500.0,ARI,2016.0,True,home,20162ARI
2,ARI,2016,3,BUF,3600.0,7200.0,7700.0,3600.0,6900.0,5800.0,4800.0,3300.0,2500.0,2500.0,NaN,NaN,False,away,20163BUF
3,ARI,2016,4,LAR,3900.0,6300.0,7800.0,3400.0,7200.0,5100.0,4300.0,3300.0,2500.0,2500.0,ARI,2016.0,True,home,20164ARI
4,ARI,2016,5,SF,3700.0,6700.0,7900.0,3800.0,7200.0,4900.0,4400.0,3500.0,2500.0,2500.0,NaN,NaN,False,away,20165SF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,WAS,2022,6,CHI,3200.0,5700.0,5600.0,5000.0,6100.0,5700.0,4200.0,3400.0,3000.0,2900.0,NaN,NaN,False,away,20226CHI
808,WAS,2022,7,GB,2500.0,5200.0,5500.0,5300.0,5900.0,5300.0,4200.0,3400.0,3000.0,2900.0,WAS,2022.0,True,home,20227WAS
809,WAS,2022,8,IND,2600.0,5200.0,5600.0,5400.0,6000.0,5300.0,4200.0,3300.0,3000.0,2800.0,NaN,NaN,False,away,20228IND
810,WAS,2022,9,MIN,2400.0,5400.0,5500.0,5400.0,5900.0,5200.0,4100.0,3300.0,2900.0,2700.0,WAS,2022.0,True,home,20229WAS
811,WAS,2022,10,PHI,2200.0,5300.0,5200.0,5000.0,5900.0,5100.0,3800.0,3100.0,2800.0,2600.0,NaN,NaN,False,away,202210PHI

In [12]:
home_away_salaries = salary_home.pivot(index = ['key'],columns = 'homeaway',values = ['DST1','QB1','RB1','RB2','WR1','WR2','WR3','WR4','TE1','TE2']).reset_index()

In [13]:
home_away_salaries

                key    DST1             QB1             RB1             RB2  \
homeaway               away    home    away    home    away    home    away
0         201610ARI  2100.0  3700.0  5800.0  6500.0  5500.0  8400.0  4100.0
1         201610BAL  2400.0  3700.0  5200.0  6200.0  4200.0  5700.0  4000.0
2         201610CAR  3500.0  3200.0  5400.0  6800.0  6700.0  4900.0  5200.0
3         201610JAX  3800.0  2300.0  5400.0  5500.0  6400.0  3700.0  4800.0
4         201610LAC  2400.0  2900.0  5300.0  6700.0  7000.0  7100.0  3900.0
..              ...     ...     ...     ...     ...     ...     ...     ...
401         20229NE  2700.0  4100.0  5000.0  5100.0  7700.0  6200.0  5200.0
402         20229NO  3100.0  2700.0  7900.0  5700.0  5200.0  7200.0  5100.0
403        20229NYJ  4300.0  2000.0  8500.0  5100.0  5700.0  5500.0  5500.0
404         20229TB  3300.0  3000.0  5600.0  6000.0  5100.0  6600.0  5000.0
405        20229WAS  3500.0  2400.0  6200.0  5400.0  7800.0  5500.0  5600.0

                     WR1             WR2             WR3             WR4  \
homeaway    home    away    home    away    home    away    home    away
0         3500.0  3800.0  7600.0  3700.0  4900.0  3000.0  4200.0  3000.0
1         3900.0  6100.0  6200.0  5100.0  5500.0  3200.0  3900.0  3000.0
2         3600.0  5600.0  6800.0  3800.0  3700.0  3500.0  3000.0  3300.0
3         3400.0  7100.0  7000.0  5500.0  4400.0  3000.0  3900.0  3000.0
4         3700.0  7200.0  5700.0  4300.0  5100.0  3700.0  3400.0  3000.0
..           ...     ...     ...     ...     ...     ...     ...     ...
401       5600.0  6800.0  5400.0  4400.0  4000.0  4200.0  3400.0  3000.0
402       4800.0  5200.0  6400.0  4900.0  5700.0  4100.0  4300.0  3300.0
403       5400.0  8400.0  4800.0  6900.0  4300.0  4900.0  4300.0  3500.0
404       4700.0  8900.0  7200.0  5000.0  6200.0  3500.0  5000.0  3300.0
405       5400.0  8600.0  5900.0  5600.0  5200.0  4200.0  4100.0  3000.0

                     TE1             TE2
homeaway    home    away    home    away    home
0         3800.0  2700.0  2500.0  2600.0  2500.0
1         3600.0  3400.0  4000.0  2500.0  2500.0
2         3000.0  5600.0  5900.0  2500.0  3200.0
3         3000.0  3500.0  2900.0  2500.0  2500.0
4         3000.0  2500.0  3900.0  2500.0  3000.0
..           ...     ...     ...     ...     ...
401       3300.0  2800.0  3000.0  2700.0  2900.0
402       3800.0  7000.0  5000.0  3400.0  3000.0
403       3400.0  3500.0  3200.0  2600.0  2500.0
404       4100.0  3700.0  3100.0  2500.0  3100.0
405       3300.0  5000.0  2900.0  3400.0  2700.0

[406 rows x 21 columns]

In [14]:
home_away_salaries.columns = ['_'.join(col).strip() for col in home_away_salaries.columns.values]

In [15]:
home_away_salaries

,key_,DST1_away,DST1_home,QB1_away,QB1_home,RB1_away,RB1_home,RB2_away,RB2_home,WR1_away,WR1_home,WR2_away,WR2_home,WR3_away,WR3_home,WR4_away,WR4_home,TE1_away,TE1_home,TE2_away,TE2_home
0,201610ARI,2100.0,3700.0,5800.0,6500.0,5500.0,8400.0,4100.0,3500.0,3800.0,7600.0,3700.0,4900.0,3000.0,4200.0,3000.0,3800.0,2700.0,2500.0,2600.0,2500.0
1,201610BAL,2400.0,3700.0,5200.0,6200.0,4200.0,5700.0,4000.0,3900.0,6100.0,6200.0,5100.0,5500.0,3200.0,3900.0,3000.0,3600.0,3400.0,4000.0,2500.0,2500.0
2,201610CAR,3500.0,3200.0,5400.0,6800.0,6700.0,4900.0,5200.0,3600.0,5600.0,6800.0,3800.0,3700.0,3500.0,3000.0,3300.0,3000.0,5600.0,5900.0,2500.0,3200.0
3,201610JAX,3800.0,2300.0,5400.0,5500.0,6400.0,3700.0,4800.0,3400.0,7100.0,7000.0,5500.0,4400.0,3000.0,3900.0,3000.0,3000.0,3500.0,2900.0,2500.0,2500.0
4,201610LAC,2400.0,2900.0,5300.0,6700.0,7000.0,7100.0,3900.0,3700.0,7200.0,5700.0,4300.0,5100.0,3700.0,3400.0,3000.0,3000.0,2500.0,3900.0,2500.0,3000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,20229NE,2700.0,4100.0,5000.0,5100.0,7700.0,6200.0,5200.0,5600.0,6800.0,5400.0,4400.0,4000.0,4200.0,3400.0,3000.0,3300.0,2800.0,3000.0,2700.0,2900.0
402,20229NO,3100.0,2700.0,7900.0,5700.0,5200.0,7200.0,5100.0,4800.0,5200.0,6400.0,4900.0,5700.0,4100.0,4300.0,3300.0,3800.0,7000.0,5000.0,3400.0,3000.0
403,20229NYJ,4300.0,2000.0,8500.0,5100.0,5700.0,5500.0,5500.0,5400.0,8400.0,4800.0,6900.0,4300.0,4900.0,4300.0,3500.0,3400.0,3500.0,3200.0,2600.0,2500.0
404,20229TB,3300.0,3000.0,5600.0,6000.0,5100.0,6600.0,5000.0,4700.0,8900.0,7200.0,5000.0,6200.0,3500.0,5000.0,3300.0,4100.0,3700.0,3100.0,2500.0,3100.0
405,20229WAS,3500.0,2400.0,6200.0,5400.0,7800.0,5500.0,5600.0,5400.0,8600.0,5900.0,5600.0,5200.0,4200.0,4100.0,3000.0,3300.0,5000.0,2900.0,3400.0,2700.0

In [16]:
games_odds['key'] = games_odds['season'].astype(str) + games_odds['Week'].astype(str) +games_odds['home_abbr']

In [17]:
full_games_w_sals = pd.merge(games_odds, home_away_salaries, how = 'left', left_on=['key'],right_on=['key_'])

In [18]:
full_games_w_sals.drop(['home_team_x','away_team_x','Date_x','Date_y','Season','Favorite','UnderDog','home_team_y','away_team_y','key','key_'],axis = 1, inplace = True)

In [19]:
full_games_w_sals.to_csv('data/full_data.csv')